.heading-text {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  .colored {
    color: #d434fe;
    font-family: Clash Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
  }
}

.more-details {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
  margin-top: 1.6rem;
}

@media (max-width: 422px) {
  .heading-text {
    font-size: 2.2rem;
    .colored {
      font-size: 2.2rem;
    }
  }
}
