.contact-parent {
  .contact-container {
    display: flex;
    padding-block: 8rem;
    .left-part {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4rem;
      padding-top: 2rem;
      padding-left: 6.5rem;
      position: relative;

      .pinkish-star {
        position: absolute;
        width: 20px;
        height: 20px;
        top: -10%;
        left: 10%;
      }
      .extreme-left {
        width: 1000px;
        position: absolute;
        left: -60%;
        top: -5%;
        opacity: 0.5;
        filter: blur(40px);
      }
      .contact-heading {
        color: #d434fe;
        font-family: Clash Display;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .little-info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .info-content {
          color: #fff;
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .social-links {
        display: flex;
        gap: 1.5rem;
        align-items: unset;
        flex-direction: column;
        .info-content {
          color: #d434fe;
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .icons-pack-in-contact {
          display: flex;
          align-items: center;
          gap: 1.5rem;

          .logo-icon {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .right-form {
      border-radius: 12px;
      position: relative;
      background: rgba(255, 255, 255, 0.03);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding: 5rem 6rem;
      width: 617px;
      // height: 611px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      .faded-star {
        position: absolute;
        right: 5%;
        top: -10%;
        opacity: 0.5;
        height: 20px;
        width: 20px;
      }
      .whitish-star {
        position: absolute;
        right: -12%;
        bottom: 1%;
        height: 20px;
        width: 20px;
      }
      .pinkish-star {
        position: absolute;
        left: -1%;
        bottom: 25%;
        height: 20px;
        width: 20px;
      }
      .extreme-right {
        width: 1000px;
        position: absolute;
        right: -90%;
        top: 30%;
        opacity: 0.5;
        filter: blur(40px);
      }
      .form-title {
        color: #d434fe;
        font-family: Clash Display;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: 280px;
      }
      // .input-field {
      //   width: 100%;
      //   padding: 1.5rem;
      //   border-radius: 4px;
      //   border: 1px solid #fff;
      //   background: rgba(255, 255, 255, 0.03);
      //   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      //   color: white;
      // }
      .btn-container-second {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-block: 1.5rem;
        .btn-contact {
          border: none;
          border-radius: 4px;
          background: linear-gradient(
            270deg,
            #903aff 0%,
            #d434fe 56.42%,
            #ff26b9 99.99%,
            #fe34b9 100%
          );
          width: 100%;
          height: 50px;
          font-size: 1.6rem;
          color: white;
          text-transform: capitalize;
          cursor: pointer;
          position: relative;
        }
      }
      .error-message {
        color: red;
        font-family: Montserrat;
        font-size: 1.6rem;
        font-style: italic;
        font-weight: 700;
        line-height: normal;
        display: unset;
      }
      .mobile-detail {
        display: none;
      }
      .social-links {
        display: none;
        gap: 1.5rem;
        align-items: unset;
        flex-direction: column;
        .info-content {
          color: #d434fe;
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .icons-pack-in-contact {
          display: flex;
          align-items: center;
          gap: 1.5rem;

          .logo-icon {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 999px) {
  .contact-parent {
    .contact-container {
      flex-direction: column;
      gap: 0rem;
      width: 100%;
      padding-block: 3rem;

      .left-part {
        display: none;
      }

      .right-form {
        width: 100%;
        background: none;
        padding-inline: unset;
        position: relative;
        box-shadow: unset;

        .social-links {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .faded-star {
          top: 6%;
        }

        .pinkish-star {
          bottom: 17%;
          left: 0rem;
        }

        .whitish-star {
          bottom: 30%;
          right: -10%;
        }

        .form-title {
          width: 100%;
        }

        .extreme-right {
          left: -30%;
          top: -10%;
          width: 700px;
        }

        .mobile-detail {
          display: unset;
          color: #fff;
          font-family: Montserrat;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          width: 100%;
          line-height: 27.5px;
          margin-top: 1.6rem;
        }
      }
    }
  }
}
