.judge-parent {
  .judge-container {
    padding-block: 8rem;
    display: flex;
    align-items: center;

    .left-section {
      width: 50%;
      position: relative;
      align-self: flex-end;

      .faq-picture {
        width: 100%;
      }

      .left-purple-flair {
        position: absolute;
        left: -37%;
        width: 900px;
        top: 40%;
        opacity: 0.5;
        filter: blur(40px);
      }

      .p-star {
        width: 30px;
        height: 36px;
        position: absolute;
        left: 20%;
        top: -13%;
      }

      .faded-star {
        position: absolute;
        bottom: 43%;
        left: 57%;
      }

      .sharp-star {
        position: absolute;
        bottom: 1%;
      }
    }

    .criteria {
      width: 550px;
      margin-left: auto;
      position: relative;

      .criteria-top-content {
        margin-bottom: 2.1rem;
        .criteria-heading-text {
          color: #fff;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          text-transform: capitalize;
          .colored {
            color: #d434fe;
            font-family: Clash Display;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
          }
        }
      }

      .more-details {
        margin-bottom: 2.1rem;

        .colored {
          color: #ff26b9;
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 173.5%; /* 27.76px */
        }
        .more-text {
          color: #fff;
          font-family: Montserrat;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 173.5%;
        }
      }

      .right-purple-flair {
        position: absolute;
        width: 900px;
        opacity: 0.5;
        bottom: -71%;
        left: 15%;
      }

      .btn {
        margin-top: 5rem;
      }
    }
  }
}

@media (max-width: 1520px) {
  .judge-parent {
    .judge-container {
      .left-section {
        width: 50%;
        position: relative;
        align-self: unset;
      }
      .criteria {
        width: 45%;
      }
    }
  }
}

@media (max-width: 999px) {
  .judge-parent {
    .judge-container {
      width: 100%;
      flex-direction: column;

      .left-section {
        width: 100%;
        justify-content: center;
        align-items: center;

        .p-star {
          width: 20px;
          height: 20px;
          transform: translateX(-50%);
          left: 50%;
          top: -10%;
        }

        .left-purple-flair {
          position: absolute;
          left: -10%;
          width: 400px;
          top: 35%;
          opacity: 0.8;
          filter: blur(40px);
        }

        .faded-star {
          position: absolute;
          width: 20px;
          height: 20px;
        }

        .sharp-star {
          position: absolute;
          bottom: -350%;
          width: 20px;
          height: 20px;
        }
      }
      .criteria {
        width: 100%;
        text-align: center;
        .criteria-top-content {
          .criteria-heading-text {
            text-align: center;
            font-size: 2.2rem;
            .colored {
              font-size: 2.2rem;
            }
          }
        }

        .right-purple-flair {
          position: absolute;
          width: 500px;
          opacity: 0.5;
          bottom: -5%;
          left: 40%;
        }
      }
    }
  }
}
