* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background: #150E28;
  overflow-y: hidden;
}



section{
  width: 1400px;
  margin-inline: auto;
}