* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background: #150E28;
  overflow-y: hidden;
}



section {
  width: 1400px;
  margin-inline: auto;
}


@media (max-width:1520px) {
  section {
    width: 1100px;
  }

}

@media (max-width:1200px) {
  section {
    width: 900px;
  }

}

@media (max-width:999px) {
  section {
    width: 100%;
    padding-inline: 3rem;
  }

}