.rules-parent {
  .rules-container {
    padding-block: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left-side {
      position: relative;
      width: 40%;
      .l-flair {
        position: absolute;
        width: 1800px;
        opacity: 0.4;
        top: -163%;
        left: -87%;
        filter: blur(40px);
      }

      .t-star {
        position: absolute;
        top: -20%;
        left: 50%;
      }

      .b-star {
        position: absolute;
        right: -15%;
        bottom: -25%;
      }
    }

    .right-side {
      width: 50%;
      position: relative;
      .woman {
        width: 100%;
        margin-left: auto;
      }

      .r-flair {
        position: absolute;
        width: 1800px;
        opacity: 0.8;
        left: 25%;
        top: -12%;
        opacity: 0.4;
      }
    }
  }

  .rules-hr {
    height: 1px;
    background: rgba(255, 255, 255, 0.18);
    width: 100%;
    opacity: 0.2;
  }
}

@media (max-width: 999px) {
  .rules-parent {
    .rules-container {
      width: 100%;
      flex-direction: column-reverse;
      .left-side {
        width: 100%;
        text-align: center;

        .t-star {
          position: absolute;
          top: 14%;
          left: 90%;
          height: 20px;
          width: 20px;
        }

        .b-star {
          position: absolute;
          left: 10%;
          bottom: -12%;
          height: 20px;
          height: 20px;
        }

        .l-flair {
          top: -30%;
          left: 40%;
          width: 500px;
          opacity: 0.5;
        }
      }
      .right-side {
        width: 100%;

        .r-flair {
          width: 500px;
          left: -70%;
          top: -10%;
          opacity: 0.5;
        }
      }
    }
  }
}
